body {
  margin: 0;
}

.page_container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background_container {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;


  display: flex;
  flex-direction: row;
  justify-content: center;
}

.background_col {
  height: 100%;
  flex-grow: 1;

  background: #e09c9d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#918299, #e09c9d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#918299, #e09c9d); /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#918299, #e09c9d); /* Standard syntax */
  background: -moz-linear-gradient(#918299, #e09c9d); /* For Firefox 3.6 to 15 */
}

.content_container {
  height: 100%;
  width: 100%;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vapeeng {
  margin: 0;

  padding-bottom: 10px;
  border-bottom: black solid 2px;

  font-family: alien_font;
  font-size: 58px;

  text-shadow:
   -1px -1px 0 #f0f,
    1px -1px 0 #0ff,
   -1px  1px 0 #f0f,
    1px  1px 0 #0ff;
}

.vapejap {
  margin: 0;
  margin-top: 10px;

  font-family: nipon_font;
  font-size: 58px;

  text-align: center;

  text-shadow:
   -1px -1px 0 #f0f,
    1px -1px 0 #0ff,
   -1px  1px 0 #f0f,
    1px  1px 0 #0ff;
}

@keyframes vape_motion {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}

.vape_animation {
  animation-name: vape_motion;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.26,-0.01, 0.75, 0.99);
}

.name {
  bottom: 0;
  right: 0;

  position: absolute;

  margin: 35px;

  font-family: barcode_font;
  font-size: 70px;
}

.info {
  bottom: 0;
  left: 0;

  position: absolute;

  margin: 35px;

  font-family: vcr_font;
  font-size: 30px;
  color: black;

  text-shadow:
   -1px -1px 0 #f0f,
    1px -1px 0 #0ff,
   -1px  1px 0 #f0f,
    1px  1px 0 #0ff;
}


@font-face {
    font-family: alien_font;
    src: url(https://api.nz-por-1.catalystcloud.io:8443/v1/AUTH_8ccc3286887e49cb9a40f023eba693b4/test_cont/fonts/Alien-Encounters-Bold-Italic.ttf);
}

@font-face {
    font-family: nipon_font;
    src: url(https://api.nz-por-1.catalystcloud.io:8443/v1/AUTH_8ccc3286887e49cb9a40f023eba693b4/test_cont/fonts/Senobi-Gothic-Bold.ttf);
}

@font-face {
    font-family: barcode_font;
    src: url(https://api.nz-por-1.catalystcloud.io:8443/v1/AUTH_8ccc3286887e49cb9a40f023eba693b4/test_cont/fonts/LibreBarcode39Text-Regular.ttf);
}

@font-face {
    font-family: vcr_font;
    src: url(https://api.nz-por-1.catalystcloud.io:8443/v1/AUTH_8ccc3286887e49cb9a40f023eba693b4/test_cont/fonts/VCR_OSD_MONO_1.001.ttf);
}
